<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.judgement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Judgement"
        android:usesCleartextTraffic="true"
        tools:ignore="Instantiatable">
        <activity android:name=".feature.law.DetailResultActivity"></activity>
        <activity android:name=".feature.law.search_result.SearchResultActivity" />
        <activity android:name=".feature.navigation.user.UserInfoEditActivity" />
        <activity android:name=".feature.navigation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.SplashActivity" />
        <activity android:name=".feature.signup.SignUpActivity" />
        <activity android:name=".feature.signin.SignInActivity" />
    </application>

</manifest>